fastapi==0.135.1
protobuf==7.34.0
pydantic==2.12.5
pypdf==6.7.5
python-dotenv==1.2.2
bcrypt==4.0.1
python-docx==1.2.0
python-jose==3.5.0
python-pptx
SQLAlchemy==2.0.48
psycopg2-binary==2.9.11
uvicorn==0.41.0
aiofiles
aiosmtplib
requests
google-auth
google-genai
email-validator
reportlab==4.4.1
